/* p {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: green;
} */

.c1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: yellowgreen  ;
    
}
#i1 {
    background-color: blueviolet;
}

body {
    background-image: url();
}