body{
    background-color: white;
}
div{
    margin: 10px;
}
#header{
    background-color: rgb(247, 211, 134);
}
#hero{
    background-color: rgb(28, 245, 245);
    border: solid thin;
}
#content{
    background-color: rgb(28, 245, 245);
}
#footer{
    background-color: rgb(247, 211, 134);

}
#logo{
    border: solid thin;
    float: left;
    margin: 5px;
    font-size: 30px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#image{
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
}
#content #content_left{
    height: 50%;
    width: 70%;
    background-color: yellow;
}
